body,div,img,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,li,ol,form,input,textarea,th,td,{padding:0;margin:0;}
a{text-decoration: none;}
ul,li{list-style: none;}
img{border:0 none;margin:0;padding:0;}
.fl{float:left;}
.fr{float:right;}
.clear:after{
    display:block;
    height:0;
    content: "";
    clear:both;
    overflow: hidden;
    visibility: hidden;
    zoom: 1;
}
.contanner{width:1200px;margin:0 auto;}
#ding {width: 100%;background-color:#243444;
    .contanner{position: relative;
        width: 1200px;margin:0 auto;padding:0;
        a{height: 60px;display:block;}
        button{border-radius:50% 50%;background-color: rgba(255,255,255,0.3);position: absolute;top:0;right:0;}
    }
}
#header{
    .top_t{background-color: #333;height: 38px;
        .contanner{margin-bottom:15px;line-height:38px;
            .lig{margin-top:8px;position: relative;margin-right: 25px;
                span{font-size:20px;position: absolute;margin: -7px 4px;
                ;}
                input{width: 200px;height: 20px;float: left;padding-left:25px;}
                button{height: 24px;width: 50px;float: left;background-color: #b32424;color:#fff;border:none;cursor:pointer;}
                    a{color:#999;font-size:12px;}
                    a:hover{color:#666;}
            }
            .useb{
                a{cursor:pointer; }
            }
            div{
                float: right;position: relative;
                a{
                    color:#ccbeb8;line-height: 28px;padding: 0 10px;font-size:14px;                
                }
                a:hover{color:#fff;}
                .yan{
                    color:#d9c398;                  
                }
                .yan:hover{color:#fff;}
                span{color:#5a5552;margin:7px 12px;}
                
                    .boxx1{
                        img{margin:30px 50px;}
                        display:none;background-color: #FFF;position: absolute;top:38px;right:0;z-index:1;       
                        }
                    
                    .boxx2{
                        img{margin:30px 50px;}
                        display:none;background-color: #FFF;position: absolute;top:38px;right:0; z-index:1;                
                        }
                    }
                    .boxx3{position: absolute;top:28px;right:0;width: 226px;height: 186px;display:none; z-index:1;                
                        ul{margin-top:182px;
                            height: 34px;line-height:34px;background-color:#fafafa ;text-align:center ;
                            li{color:#ccbeb8;float: left;font-size:14px;width: 113px;display:block;cursor:pointer;}

                            .on{color:#fff;float: left;background-color: #333;font-size:14px;width: 113px;display:block; 
                            }
                        }
                    }
                }
             }
}

#header{
    .top_t{
        .contanner{
            #boxx{
                a{padding:9px}
                a:hover{background-color: #FFF;color:black;}
                }
        }
    }
    .dab{background-color: #fafafa;}
    .top_c{
        .rig{
            img{margin-left:50px;margin-top:25px;margin-bottom:25px;float: left;}
        }
        
        .gouc{float: right;margin-top:40px;margin-left:0px;width: 180px;height: 36px;line-height:36px;text-align: center;border:1px solid #ddd;
            a{color:#666;display:block;}
            &:hover{background-color: #FFFFBF;a{color:black;}border-color:#aaa;}
        }
    }
    .top_bb{    background: #f7f7f7;
        .top_b{position: relative;
            .nav_l{float: left;position: absolute;z-index:1;    
                h2{display:block;width: 210px;height: 42px;line-height:42px;background-color: #b32424;text-align: center;}
                a{color:#fff;}
                .lis{width: 210px;height: 530px;position: relative;background-color:#303132;opacity:0.85;
                    a:hover{color:black;text-decoration:underline;}
                    a{color:#ccc;}
                    dl{padding-top:25px;padding-left:10px;padding-bottom:21px;a{color:#ccc}}
                    dt{a{color:#fff;}}
                    dd{a{font-size:12px;}}
                    .box:hover dt a{color:#000;}
                    .box:hover dd a{color:#333;}
                    .box2{width: 780px;height: 528px;border:1px solid #333;background-color: #FFF;position: absolute;top:0px;left:210px;display:none;z-index:1;

                        .he{padding:30px;width: 688px;margin:0 auto;overflow:hidden;border-bottom:1px solid #eee;
                            .tu{padding-top:10px;padding-left:2px;
                                a:hover{color:black;text-decoration:underline;}
                                a{ display: block;
                                    margin-left: 50px;
                                    float: left;
                                    height: 63px;
                                    color: #99857a;
                                    text-align: center;
                                    margin-top: 11px;
                                }
                                p{display:inline;margin-top:5px;}
                                img{display:block;}
                            }
                            .tu2{
                                .wen{margin-left:35px;margin-top:5px;
                                    a{font-size:12px;display:inline-block;color:#99857a;
                                        span{padding:0 10px}
                                    }
                                    a:hover{color:black;text-decoration:underline;}
                                }
                                

                            }
                        }
                    }
                }
            }
            
            .nav_r{float: left;height: 42px;margin-left:237px;width: 850px;
                .down{width: 96px}
                h2{display:block;float: left;text-align:center;width: 96px;height: 38px;line-height:38px;a{font-size:14px;display:block;width: 56px;height: 38px;margin:0 auto;color:#666;}
                    a:hover{border-bottom:4px solid #b32424;}
                }
            }
            .down_box{width:100%;background-color: #FFF;height: 270px;position: absolute;top:42px;z-index:54;display:none;
                .bx1{width: 290px;height: 283px;padding:0 35px;padding-top:10px;float: left;
                    img{margin-bottom:5px;}
                    ul{margin:10px 0;
                        li{display:inline;a{font-size:12px;color:#666;margin-right:5px} a:hover{color:black;text-decoration:underline;}}
                    }
                    
                }

            }
        }
    }
    
}

#footer{
    .foot_t{
        .foot_tl{float: left;width: 292px;
            .tl1{margin-bottom:10px;
                a{font-size:26px;color:#333;font-weight:bold;
                    span{color:#aaa;font-size:30px;line-height:40px;font-weight:400;margin-left:7px}
                }
            }
            .tl2{margin-bottom:10px}
            .tl3{
                a{display:block;float: left;width: 24.5%;height: 30px;line-height:30px;text-align:center;font-size:12px;color:#666;cursor:pointer;}
                a:hover{color:#ce0000;text-decoration:underline;}
            }
        }
        .foot_tr{display:block;width: 908px;
            .trt{
                .trtt{margin-bottom:5px;border-bottom:1px solid #e5e5e5;padding-bottom:10px; 
                    .trt1{float: left;
                        a{font-size:26px;color:#333;font-weight:bold;
                            span{color:#aaa;font-size:30px;line-height:40px;font-weight:400;margin-left:7px}
                        }
                    }
                    .trt2{float: right;margin-top:15px;
                        a{color:#666;cursor:pointer;}
                    }
                }
                .trtb{overflow:hidden;border-bottom: 1px solid #e5e5e5;    padding: 30px 0 53px 0;height: 177px;
                    li{float: left;width: 255px;    padding: 0 22px 0 15px;
                        a{    line-height: 26px;
                            color: #666;
                            display: block;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            width: 100%;font-size:14px;
                        }
                        a:hover{color:#b01330;text-decoration: underline;

                        }
                        h6{font-size:100%;text-align:center;padding-bottom:5px;
                            a:hover{color:#b01330;text-decoration: none;}
                        }

                    }

                }

            }
        }
    }
    .foot_c{
            display: block;
            height: 60px;
            background-color: #ae0e16;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            .foot_c_t{line-height:60px;
                a{  width: 240px;
                    text-align: center;
                    height: 60px;
                    line-height: 60px;
                    color: #fff!important;
                    font-size: 14px;
                    float: left;
                    span{
                            width: 34px;
                            height: 34px;
                            display: inline-block;
                            vertical-align: middle;
                            margin-right: 8px;
                            margin-bottom:12px;
                    }
                }
            }
    }
    .foot_z{background-color: #eee;
            padding: 0 0 60px;
            border-bottom: 1px solid #ddd;
            .foot_z1{
                padding-top: 60px;
                overflow: hidden;
                .s{float: left;
                    p{  text-align: center;
                        line-height: 30px;}
                    .p1{
                        font-size: 14px;
                        font-weight: bold;
                        line-height: 14px;
                        padding-bottom: 8px;
                    }
                    .p2{
                        font-size: 30px;
                    }
                    .p3{font-size: 12px;
                        color: #999;
                    }
                    .p4{
                        a{  color: #b22424;
                            border: 1px solid #b32424;
                            border-radius: 5px;
                            padding: 8px 21px;
                            margin: 0 5px;
                            display: inline-block;
                            margin-top: 20px;
                        }
                    }
                }
                .xi{margin-left: 150px;
                    dl{ width: 98px;
                        float: left;
                        dt{ color: #333;
                            font-weight: bold;
                            font-size: 14px;}
                        dd{margin-top: 30px;
                            a{  width: 100%;
                                color: #666;
                                display: block;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                line-height: 24px;
                                height: 24px;font-size:14px;}
                                a:hover{color: #000;}
                        }
                    }
                }
                .inbo1{ width: 203px;
                        margin-top: -10px;
                        margin-left:90px;
                        border-left: 1px solid #ddd;
                    .bbtap{ margin-left: 10px;
                            overflow: hidden;
                            display: block!important;
                        li{ width: 95px;
                            height: 24px;
                            line-height: 24px;
                            text-align: center;
                            color: #666;
                            display: block;
                            float: left;
                            background: #ddd;
                            cursor: pointer;
                        }
                        .active{color: #fff;
                                background: #666;}
                    }
                    .code1{ 
                        .code_img{width: 93px;
                            margin: 11px auto 8px auto;}
                        span{color: #666;
                            display: block;
                            text-align: center;}
                    }
                    .code2{display:none;
                        .code_img{width: 93px;
                            margin: 11px auto 8px auto;}
                        span{color: #666;
                            display: block;
                            text-align: center;}
                    }
                }
                
            }
    }

    .foot_b{clear: both;
            width: 100%;
            display: block;
            background: #eee;
            .bot1{  padding-top: 25px;
                    text-align: center;
                    line-height: 20px;
                    a{  color: #666;
                        margin: 0 10px;font-size:12px}
                    a:hover{color: #000;}
                    span{cursor:pointer;}
                    .coer{display:none;}
            }
            .bot2{margin-top: 35px;
                text-align: center;
                p{color: #999;font-size:12px;
                  padding-bottom: 10px;
                  a{color: #999;}
              }

                a{  color: #666;
                    font-size:12px}
            }
            .bot3{text-align: center;
                margin-top: 30px;
                a{display: inline-block;
                    margin: 0 10px;
                    img{display:inline-block;}
                }
            }
            .bot4{
                    margin-top: 25px;
                    color: #666;
                    line-height: 20px;
                    overflow: hidden;
                    span{display: inline-block;font-size:12px}
                    a{ margin-left: 10px;font-size:12px;display: inline-block;color: #666;}
                    a:hover{color: #b01330;}
            }
    }
}