#header { border-bottom: 1px solid #000; width: 950px; margin: 0 auto; background: #fff; height: 64px; padding-top: 12px; z-index: 99; }

#header .tt img { float: left; margin-left: 20px; }

#header .tt .tr { margin-left: 340px; margin-top: 10px; float: left; width: 600px; color: #151515; }

#header .tt .tr p { font-size: 14px; }

#header .tt .tr .pt { margin-bottom: 10px; }

#header .tt .tr .pt a { color: #151515; margin-left: 10px; }

#header .tt .tr .pt b { color: #F26521; }

#header .tt .tr .pb a { color: #151515; }

#zhong { width: 950px; margin: 0 auto; overflow: hidden; }

#zhong .xhz { height: 40px; padding-top: 15px; }

#zhong .xhz .ulz { width: 950px; height: 33px; margin: 0 auto; }

#zhong .xhz .ulz .on { background: #82bf38; color: #fff; }

#zhong .xhz .ulz li { float: left; width: 316px; background: #e2e2e2; height: 24px; text-align: center; line-height: 24px; font-size: 14px; font-weight: bold; }

#zhong .xhz .ulz li span { width: 27px; height: 32px; float: right; overflow: hidden; position: relative; margin-top: -4px; }

#shp { width: 950px; margin: 0 auto; overflow: hidden; }

#shp .shangp { text-align: center; line-height: 90px; margin-top: 20px; background: #F6F6F6; border: 1px solid #d6d3d3; }

#shp .shangp a { color: #F26521; }

#shp .shangp .qhz { text-align: center; line-height: 25px; padding: 10px; }

#shp .shangp .qhz img { float: left; padding: 0px 10px 0px; width: 62px; height: 82px; margin-left: 20px; margin-right: 20px; }

#shp .shangp .qhz .wez { margin-left: 25px; margin-right: 25px; width: 200px; float: left; text-align: left; padding: 0px 10px 0px; }

#shp .shangp .qian { float: left; text-align: center; line-height: 25px; padding: 0px 10px 0px; }

#shp .shangp .qian del { font-size: 14px; color: #ccc; }

#shp .shangp .qty { display: inline; }

#shp .shangp .shan { float: right; text-align: center; line-height: 90px; padding: 0 10px 0; }

#shp .shangp .shan a { cursor: pointer; }

#shp .subPrice { float: right; color: #F26530; }

#foot { color: #7D7D7D; line-height: 22px; margin: 15px auto 20px; overflow: hidden; text-align: center; width: 950px; border-top: 1px solid #999; padding-top: 10px; }
